---
---

<footer>
  <div class="container">
    <div class="footer-inner">
      <div class="footer-logo">
        <img class="footer-logo-img" src="/favicon.png" width="100" height="80" alt="Game Seven Marketing" />
      </div>
      <ul class="footer-links">
        <li><a href="/audits">Audits</a></li>
        <li><a href="/#services">Services</a></li>
        <li><a href="/#process">Process</a></li>
        <li><a href="/#roi">ROI Calculators</a></li>
        <li><a href="/#faq">FAQ</a></li>
        <li><a href="/#contact">Contact</a></li>
      </ul>
      <div class="footer-copy">&copy; 2026 Game Seven Marketing. All rights reserved.</div>
    </div>
  </div>
</footer>
